{% extends 'account/profile.html' %}
{% block profile %}
    <form action="{% url 'password_change' request.user.pk %}" method="post" style="width: 1000px; height: 400px">
        {% csrf_token %}
        <div class="main-class">
            <div class="form-group">
                <h3>Shaxsiy parolni o‘zgartirish</h3>
                <p class="password-message">Parol kamida 8 belgidan iborat bo'lishi shart</p>

                <div class="password">
                    <label for="new_password">Yangi Parol</label>
                    <input class="password-input" type="text" id="new_password" name="password">
                </div>

                <div class="password">
                    <label for="new_password">Parolni takrorlang</label>
                    <input class="password-input" type="text" id="new_password" name="confirm_password">
                </div>

                <div class="button-wrapper">
                    <button type="submit" class="button">O'zgartirish</button>
                </div>
            </div>
        </div>
    </form>

    <style>
        .main-class {
            padding: 50px 0 0 700px;
        }

        .form-group {
            background-color: gray;
            border-radius: 20px;
            padding: 20px;
        }

        .password {
            margin-top: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: lightgray;

        }

        .button-wrapper{
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        .button {
            width:  150px;
            height:   40px;
            border-radius: 10px;
            border: none;
            background-color: #fc3;
            font-size: 20px;
        }

        .password-input {
            outline: none;
            border: none;
            width: 200px;
            font-size: 25px;
            background-color: white;
            border-radius: 5px;
        }

        .password-message {
            color: red;
        }
    </style>
{% endblock %}